@tailwind base;
@tailwind components;
@tailwind utilities;
#root {
  background-color: rgb(255, 255, 255);
  padding: 0rem;
  margin: 0;
}

@font-face {
  font-family: Satoshi;
  font-weight: 300;
  src: url('/fonts/Satoshi/Satoshi-Light.woff2');
}
@font-face {
  font-family: Satoshi;
  font-weight: 400;
  src: url('/fonts/Satoshi/Satoshi-Regular.woff2');
}

@font-face {
  font-family: Satoshi;
  font-weight: 500;
  src: url('/fonts/Satoshi/Satoshi-Medium.woff2');
}

@font-face {
  font-family: Satoshi;
  font-weight: 700;
  src: url('/fonts/Satoshi/Satoshi-Bold.woff2');
}

@font-face {
  font-family: Satoshi;
  font-weight: 800;
  src: url('/fonts/Satoshi/Satoshi-Black.woff2');
}